@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@font-face {
    font-family: 'BakBak One';
    /* Add your font source here */
  }
  
  @keyframes fadeInFromLeft {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes fadeInFromRight {
    from { transform: translateX(20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }